.widefat {
  background: none;
}

.widefat tr td {
  border: none;
  height: 20px;
}

.widefat input {
  background: none;
  border: 1px solid #666666
}

.widefat tr {
  background-color: #eee;
}

.widefat tr.odd {
  background-color: #fff;
}

#icopyright-logo {
  width: 30px;
  height: 30px;
  background-image: url('<?php echo ICOPYRIGHT_PLUGIN_URL; ?>/images/icopyright-logo.png');
  background-repeat: no-repeat;
}

#icopyright-show-when td {
  padding: 0;
}

#toolbar-format input {
  vertical-align: top;
}

#toolbar-format iframe {
  vertical-align: top;
  margin-top: -10px;
}

#enter-conductor-console form {
  float: left;
}

#remaining-section {
  margin-top: -200px;
}

.icopyright-hide {
  display: none;
}

#tou {
  float: left;
}

#tou-text {
  float: left;
  padding-left: 5px;
  margin: 0px;
}

#toolbar-format {
  margin-bottom: -200px;
}

#enter-conductor-console input[type="image"] {
  width: 225px;
}

#enter-conductor-console {
  overflow: hidden;
}

#enter-conductor-console form {
  margin-right: 20px;
  margin-bottom: 20px;
}

#enter-conductor-console form#icx-enter-discovery {
  margin-left: 110px;
}