@charset
"utf-8"
;
/* CSS Document */

/*
This css file will provide the styles for all icopyright interactive tools
that will appear on the blog content.

1) icopyright interactive copyright notice

/*styles interactive copyright notice*/
.icopyright-interactive-notice {
  clear: both;
  margin: 10px 0 0 0;
  padding: 0;
  height: 40px;
  font-size: 12px;
  line-height: 1.2em;
}

.icopyright-interactive-notice a {
  color: #336699;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 0 10px 30px;
  font-size: 10px;
  line-height: 1.2em;
  background: url(http://license.icopyright.net:80/rights/images/icopy-w.png) no-repeat left center;
}

.icopyright-interactive-notice a:hover {
  color: #E8B900;
  background: url(http://license.icopyright.net:80/rights/images/icopy-g.png) no-repeat left center;
}

.icopyright-interactive-notice span {
  color: #336699;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 30px;
  padding: 0 0 0 0;
  font-size: 12px;
  line-height: 1.2em;
}

.icopyright-interactive-notice p {
  margin: 0;
  padding: 0;
}